:root{
    --cor-laranja: #f07c00;
    --cor-notas: rgb(42, 42, 224);
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f7f7f7;
}

main{
    padding: 3%;
}

details summary{
    list-style-type: none;
}

@media screen and (max-width: 1180px){

    main{
        min-height: calc(100vh - 185px);
        padding: 4.5%;
    }
}