:root{
    --cor-laranja: #f07c00;
    --cor-notas: rgb(47, 47, 139);
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f7f7f7;
}

main{
    padding: 3%;
}

details summary{
    list-style-type: none;
}

details summary::-webkit-details-marker{
    display: none;
}

@media screen and (max-width: 1180px){

    main{
        min-height: calc(100vh - 200px);
        padding: 4.5%;
    }
}