.especificacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.especificacoes__titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0;
    background-image: linear-gradient(to bottom, rgb(255, 115, 0), rgb(231, 137, 29), rgb(177, 95, 19), rgb(163, 117, 18));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.especificacoes__tipo-veiculo-collapse{
    display: none;
}

.especificacoes__tabela{
    width: 100%;
    border-collapse: separate;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.especificacoes__tabela thead{
    position: sticky;
    top: 0;
    background-color: var(--cor-laranja);
    z-index: 1;
}

.especificacoes__tabela th,
.especificacoes__tabela td{
    text-align: center;
    vertical-align: middle;
    padding: 8px 2px;
}

.especificacoes__tabela th{
    color: #f7efef;
    font-weight: 700;
    padding: .5rem .5rem;
}

.especificacoes__tabela tbody tr:nth-child(odd){
    background-color: #ffe6cd;
}

.especificacoes__tabela tbody tr:nth-child(even){
    background-color: #ffcf9f;
}

.especificacoes__tabela td{
    font-weight: 400;
    padding: .5rem .8rem;
}

.especificacoes__tabela th{
    border-left: 2px solid #ffa34b;
    border-bottom: 2px solid #ffa34b;
}

.especificacoes__tabela tr:first-child th:first-child,
.especificacoes__tabela tr:nth-child(2) th:first-child{
    border-left: 1px solid var(--cor-laranja);
}

.especificacoes__tabela td{
    border-left: 1px solid var(--cor-laranja);
    border-bottom: 1px solid var(--cor-laranja);
}

.especificacoes__tabela tr:first-child th:first-child,
.especificacoes__tabela tr:first-child th:nth-child(2){
    border-top: 1px solid #facd9a;
}

.especificacoes__tabela tr:first-child th:nth-child(2),
.especificacoes__tabela tr:nth-child(2) th:last-child,
.especificacoes__tabela td:last-child{
    border-right: 1px solid var(--cor-laranja);
}

.especificacoes__tabela tr:hover td{
    background-color: var(--cor-laranja);
    color: #edf3f8;
    border-left: 1px solid #be6403;
}

.especificacoes__numero-notas{
    font-size: .75rem;
    font-weight: 400;
    vertical-align: top;
    color: var(--cor-notas);
    -webkit-text-fill-color: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
}

.especificacoes__tipo{
    display: inline-block;
    white-space: nowrap;
    width: 2rem;
    transform: rotate(270deg);
    text-align: center;
}

@media screen and (max-width: 1180px){

    .especificacoes{
        align-items: stretch;
    }

    .especificacoes__tabela{
        display: none;
    }
}